html {
    /**
        Setting the base font, allowing easier rem calculation
     */
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    font-family: "Arial", serif;
    text-align: center;
    color: #333;
}
h1 {
    font-size: 4rem;
    margin: 0;
}
@media (max-width: 460px) {
    h1 {
        font-size: 3.5rem;
        line-height: 1.2;
    }
}
h3 {
    font-size: 1.5rem;
}
#main {
    padding: 10px;
    background: #eee;
    margin: 10px 1px 10px 1px;
    border-radius: 10px;
}
@media (max-width: 460px) {
    #main {
        margin: 0;
    }
}
#img-div {
    background-color: whitesmoke;
    display: block;
    position: relative;
    margin: auto;
    padding: 10px;
}
#img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
a {
    color: mediumpurple;
}
a:visited {
    color: rebeccapurple;
}
ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 2;
}


